<div class="col-md-4 mx-auto">
    <div class="card-block login-form">
        <div class="card-header display-6 text-light">
            <h3>Editar Relay</h3>
        </div>
        
        <div class="card-body">
            
            <form action="/relay/edit/{{Relay._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">

                 <div class="mb-2"> 
                    <label class="text-light mb-1" >Nombre</label>

                    <input type="text" id="login" class="form-control disable" name="name" placeholder="Nombre" value="{{Relay.name}}">
                </div>
                <div class="mb-2"> 
                    <label class="text-light mb-1" >Tipo</label>

                    <input type="text" id="login" class="form-control disable" name="type" placeholder="Tipo" value={{Relay.type}}>
                </div>
                <div class="mb-4">
                    <label class="text-light mb-1" >ID</label>

                    <input type="text" id="login" class="form-control disable" name="typeID" placeholder="Id" value={{Relay.typeID}}>
                </div>
 
                <div class="d-grid gap-2">
                 <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>